{% extends 'base.html' %}

{% block title %} tasks {% endblock %}

{% block content %}
<div class="mt-4">
  
  <div class="ml-3">
    <a class="btn btn-success" href="{% url 'new_task' %}">novo serviço</a>
  </div>
  <div class="row row-cols-1 row-cols-md-4 p-3">
    {% for task in tasks%}
    {% if task.active == True %}
    <div class="col mb-4">
      <div class="card text-white" style="background-color: rgb(169, 122, 212);">
        <div class="card-body">
          <strong>tarefa: </strong><span>{{ task.name|slice:"15" }}...</span>
          <strong>valor: </strong><span>{{ task.price }}</span>
          <div>
            <a class="text-white" href="{% url 'detail_task' task.id %}">veja mais ...</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  
  <div class="pagination d-flex justify-content-center m-4">
    <span class="step-link">
      {% if tasks.has_previous %}
      <a href="?page={{ tasks.previous_page_number }}">voltar</a>
      {% endif %}
  
      <span class="current">
        {{ tasks.number }} | {{  tasks.paginator.num_pages }}
      </span>
  
      {% if tasks.has_next %}
      <a href="?page={{ tasks.next_page_number }}">proximo</a>
      {% endif %}
    </span>
  </div>
  
</div>

{% endblock %}