{% extends 'base.html' %}
{% block title %} login {% endblock %}
{% block content %}
<div class="p-5 d-flex justify-content-center mt-3">
    <form enctype="multipart/form-data" class="p-4 bg-success rounded" method="POST">{% csrf_token %}
        <h2 class="p-3 text-center text-white">Login</h2>
        <div class="d-flex flex-column">
            <label for="">username</label>
            {{ form.username }}
            <label for="">password</label>
            {{ form.password }}
            <div class="pb-4 pt-4">
                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </div>
        </div>
        
    </form>
</div>
{% endblock %}