{% extends 'base.html' %}

{% block title %} detail task {% endblock %}

{% block content %}
<div class="mt-4">

<div class="modal" id="confirm_exclir">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4>deseja exclir esse funcionario?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-right">
                <a type="button" class="btn btn-danger" href="{% url 'delete_post' post.pk %}" >DELETER</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
      </div>
</div>

<div class="p-3 text-white rounded" style="background-color: rgb(66, 199, 88);">
    <h3>Sobre o Employee</h2>
        
        <p><strong>funcionario: </strong>{{ post.employee_id }}</p>
        <p><strong>tarefa: </strong>{{post.task_id }}</p>
        <p><strong>preço: </strong>{{ post.task_id.price }} $</p>
        <p><strong>caixa da empresa: </strong>{{ post.task_id.company }} $</p>
        <p><strong>caixa do funcionario: </strong>{{ post.task_id.employee }} $</p>
        <p><strong>data de criação: </strong>{{ post.create_at }}</p>
        <div>
            <a class="btn btn-primary" href="{% url 'update_post' post.pk %}">editar</a>
            <button type="button" 
                data-toggle="modal" 
                data-target="#confirm_exclir" class="btn btn-danger" >
                deletar
            </button>
        </div>
</div>
</div>
{% endblock %}