{% extends 'base.html' %}

{% block title %} posts {% endblock %}

{% block content %}
<div class="mt-4">
  
  <div class="ml-3">
    <a class="btn btn-success" href="{% url 'new_post' %}">novo registro</a>
  </div>
  <div class="ml-3 mt-2">
        <form method="post">{% csrf_token %}
          <input name="search" type="date">
          <button style="color: white ;background-color: #42aa45; border-radius: 4px; border: 2px solid #42aa45;" type="submit">busca</button>
        </form>
  </div>
  <div class="row row-cols-1 row-cols-md-4 p-3">
    {% if posts %}
    {% for post in posts%}
    <div class="col mb-4 ">
      <div class="card" style="background-color: rgb(77, 241, 104);">
        <div class="card-body">
          <strong>funcionario: </strong><span>{{ post.employee_id.full_name|slice:"15" }}...</span>
          <strong>tarefa: </strong><span>{{ post.task_id.name|slice:"15" }}...</span>
          <strong>preço: </strong><span>{{ post.task_id.price }}</span>
          <div>
            <a class="text-white" href="{% url 'detail_post' post.pk %}">veja mais ...</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
      <h3>não post hoje</h3>
    {% endif %}
  </div>
  <div class="text-center" >
    <div>
      {{ data_at }}
    </div>
    <div>
      <strong>funcionario</strong>
      {% for employee in employees %}
        <p>{{ employee.names }}: {{ employee.prices }} $</p>
      {% endfor %}
    </div>
  </div>
  
  <div class="pagination d-flex justify-content-center m-4">
    <span class="step-link">
      {% if posts.has_previous %}
      <a href="?page={{ posts.previous_page_number }}">voltar</a>
      {% endif %}
  
      <span class="current">
        {{ posts.number }} | {{  posts.paginator.num_pages }}
      </span>
  
      {% if posts.has_next %}
      <a href="?page={{ posts.next_page_number }}">proximo</a>
      {% endif %}
    </span>
  </div>
  
</div>

{% endblock %}