{% extends 'base.html' %}

{% block title %} new post {% endblock %}

{% block content %}
<div class="mt-4">
    <h3>Novo Registro</h2>

        <form  method="post" >{% csrf_token %}
            {{ form.as_p }}
            {% if post.pk %}
                <button class="btn btn-success" type="submit">atualiza</button>
            {% else %}
            {{ form.post }}
                <button class="btn btn-success" type="submit">Salvar</button>
            {% endif %}
        </form>
</div>
{% endblock %}