{% extends 'base.html' %}

{% block title %} products {% endblock %}

{% block content %}
<div class="mt-4">
  
  <div class="ml-3">
    <a class="btn btn-success" href="#">novo produto</a>
  </div>
  <div class="row row-cols-1 row-cols-md-4 p-3">
    {% for product in products%}
    {% if product.active == True %}
    <div class="col mb-4">
      <div class="card text-white" style="background-color: rgb(231, 116, 62);">
        <div class="card-body">
          <strong>produto: </strong><span>{{ product.name_product|slice:"15" }}...</span>
          <strong>quantidade: </strong><span>{{ product.amount }}</span>
          <div>
            <a class="text-white" href="#">veja mais ...</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  
  <div class="pagination d-flex justify-content-center m-4">
    <span class="step-link">
      {% if products.has_previous %}
      <a href="?page={{ tasks.previous_page_number }}">voltar</a>
      {% endif %}
  
      <span class="current">
        {{ products.number }} | {{  products.paginator.num_pages }}
      </span>
  
      {% if products.has_next %}
      <a href="?page={{ tasks.next_page_number }}">proximo</a>
      {% endif %}
    </span>
  </div>
  
</div>

{% endblock %}